*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Popins', Arial, sans-serif ;
    font-weight: 400;
    background-color: rgb(255, 255, 255); 



    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
/* 
main {
    height: 100vh;
} */



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: inline-block;
}